
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap");


@import "tailwindcss";


@plugin "daisyui" {
  themes: light --default, dark, cupcake;
}

/*custom styles */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.active {
  color: #193cb8;
  border: 2px solid;
}